header img {
width: 17%;
}

#header {

background-image:
  linear-gradient(to right, rgba(5, 33, 110, 0.988), rgba(254, 254, 255, 0)),
  url("../Photos/header.png");
background-position:center;
background-size: cover;
}

.logo {
  margin-left: 4%;
}
